.page.home {

    .carousel-section {
        width: 100%;
        height: 100vh;
        position: relative;

        .swiper-container {
            width: 100%;
            height: 100%;

            .swiper-wrapper {
                height: 100%;
                width: 100%;
                position: relative;

                .swiper-slide {
                    width: 100%;
                    height: 100%;
                    background-size: cover !important;
                    
                    &[data-swiper-slide-index="0"] {
                        background: #333 url(../img/bg.jpg) no-repeat center bottom;
                    }

                    &[data-swiper-slide-index="1"] {
                        background: #333 url(https://theme.express/minutes/images/bg/1.jpg) no-repeat center bottom;
                    }

                    &[data-swiper-slide-index="2"] {
                        background: #333 url(https://theme.express/minutes/images/bg/1.jpg) no-repeat center bottom;
                    }

                    &:after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #111;
                        opacity: 0.5;
                        content: "";
                    }

                }
            }

            .swiper-pagination-bullets {

                .swiper-pagination-bullet {
                    background: #fff;

                    &.swiper-pagination-bullet-active {
                        background: map-get($map: $colors, $key: "primary");
                    }
                }
            }
        }

        .message-wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            width: 100%;

            .message-inner {
                text-align: center;

                .title {
                    margin-bottom: 20px;

                    h2 {
                        color: #FFF;
                        font-size: 55px;
                        line-height: 50px;
                        font-weight: 400;
                        margin: 0px 0px 15px;
                        letter-spacing: -1px;
                    }
                }

                .text {
                    padding: 0 25%;
                    margin-bottom: 30px;

                    p {
                        color: #FFF;
                        font-size: 15px;
                        line-height: 27px;
                        opacity: 0.85;
                    }
                }

                .buttons {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .btn {
                        margin: 0;

                        &:not(:last-child) {
                            margin-right: 1rem;
                        }
                    }
                }

                .countdown {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    margin-bottom: 30px;

                    > div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        h2 {
                            margin: 0 0 0;
                            color: #fff;
                            font-size: 40px;
                            font-weight: 700;
                        }

                        p {
                            margin: 0;
                            color: #fff;
                        }
                    }
                }

            }
        }

        @media (max-width: 991px) {

            .message-wrapper .message-inner {

                .text {
                    padding: 0;
                }
            }
        }

        @media (max-width: 767px) {

            .message-wrapper .message-inner {

                .title h2 {
                    font-size: 36px;
                    line-height: 42px;
                }

                .text p {
                    font-size: 13px;
                    line-height: 22px;
                }

                .buttons {
                    flex-direction: column;

                    .btn:not(:last-child) {
                        margin: 0 0 1rem !important;
                    }
                }

                .countdown {

                    > div {

                        h2 {
                        }

                        &:last-child {
                            display: none;
                        }
                    }
                }

            }
        }
    }

    .sponsors-section {
        padding: 40px 0;
        background: #333;

        .swiper-slide {
            text-align: center;

            img {
                max-width: 200px;
            }
        }
    }

    .about-section {
        padding: 60px 0;

        .section-title {
            margin-bottom: 60px;
        }

        .texts {

            .item {
                display: table;
                width: 100%;

                > * {
                    display: table-cell;
                }

                .thumb {
                    background: red;
                    width: 40%;
                    height: 100%;
                    position: relative;
                    overflow: hidden;

                    img {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        height: auto;
                        width: 100%;
                        transform: translate(-50%,-50%);
                    }
                }

                .text p {
                    margin: 0;
                    text-align: justify;

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                &.right {

                    .text {
                        padding-right: 20px;

                        p {
                            //text-align: right;
                        }
                    }
                }

                &.left {

                    .text {
                        padding-left: 20px;

                        p {
                            //text-align: left;
                        }
                    }
                }
            }
        }

        @media (max-width: 991px) {

            .texts {

                .item {
                    flex-direction: row;

                    .thumb img {
                        height: 100%;
                        width: auto;
                    }

                    .text p {
                        text-align: justify !important;
                    }
                }
            }
        }

        @media (max-width: 767px) {

            .texts {

                .item {
                    display: flex;
                    flex-direction: column;

                    &.right {
                        flex-direction: column-reverse;
                    }

                    .thumb {
                        width: 100%;
                        height: auto;
                        margin-bottom: 20px;

                        &:after {
                            display: block;
                            content: "";
                            padding-bottom: 56.25%;
                        }
                    }

                    .text {
                        padding: 0 !important;
                    }

                }
            }
        }

    }

    .teams-section {
        padding: 60px 0;
        background-color: #222;

        .section-content {

            .section-title {
                color: #fff;

                p {
                    color: #fbfbfb;
                }
            }

            .teams {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: -40px;

                .team {
                    width: calc(50% - 20px);
                    margin-bottom: 40px;
                    color: #fff;
                    position: relative;

                    .team-inner {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;

                        .thumb {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            overflow: hidden;

                            img {
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                height: 100%;
                                width: auto;
                                transform: translate(-50%,-50%);
                            }
                        }

                        .text {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            background: rgba(0, 0, 0, 0.5);
                            padding: 10px;
                            width: 100%;

                            h2 {
                                margin: 15px 0 10px;
                                font-size: 24px;
                                font-weight: 700;
                            }

                            p {
                                margin: 0;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 3;
                                -webkit-box-orient: vertical;  
                            }
                        }
                    }

                    &:after{
                        content: "";
                        display: block;
                        padding-bottom: 75%;
                    }

                    &:nth-child(2n) {
                        margin-left: 40px;
                    }
                }
            }

        }

        @media (max-width: 991px) {

            .teams {

                .team {

                    .team-inner {

                        .text {
                            text-align: center;

                            p {
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 767px) {

            .section-content {

                .teams {
                    margin-bottom: 0 !important;
                    
                    .team {
                       width: 100%;
                       margin: 0 0 20px !important;

                       &:after {
                           padding-bottom: 56.25%;
                       }

                       &:last-child {
                           margin-bottom: 0 !important;
                       }
                    }
                }
            }
        }
    }

    .section-title {
        text-align: center;
        margin-bottom: 50px;

        h2 {
            margin: 0;
            font-weight: 700;
            font-size: 40px;
            line-height: 42px;
            padding: 0 12.5%;
        }

        p {
            margin: 10px 0 0;
            font-size: 18px;
            line-height: 24px;
            font-weight: 500;
            letter-spacing: 0.04em;
            color: #888;
        }

        @media (max-width: 991px) {

            h2 {
                padding: 0;
                font-size: 36px;
                line-height: 40px;
            }

            p {
                padding: 0;
            }
        }

        @media (max-width: 767px) {

            h2 {
                font-size: 24px;
                line-height: 30px;
            }
        }
    }

    .section2-section {
        padding: 50px 0;

        .section2-content {

            .icon-box {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .icon {
                    width: 80px;
                    height: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: map-get($map: $colors, $key: "primary");
                    border-radius: 50%;
                    margin-bottom: 20px;

                    i::before {
                        font-size: 20px;
                        color: #fff;
                    }
                }

                h4 {
                    font-size: 14px;
                    letter-spacing: 1px;
                    font-weight: 400;
                    margin: 0 0 15px;
                    text-transform: uppercase;
                }

                p {
                    font-size: 13px;
                    line-height: 22px;
                    margin: 0px;
                    color: #888;
                }
            }

        }

        @media (max-width: 991px) {

            & {

                .section2-content {

                    .icon-box {

                        .icon {
                            margin-bottom: 15px;
                        }

                        h4 {
                            margin-bottom: 8px;
                        }
                    }

                    .row > div:nth-child(-n + 2) {
                        margin-bottom: 30px;
                    }
                }
            }
        }

        @media (max-width: 767px) {

            & {

                .section2-content {

                    .row > div:not(:last-child) {
                        margin-bottom: 30px;
                    }
                }
            }

        }
    }

    .section3-section {
        padding: 50px 0;
        background-color: #222;

        .section3-content {

            .section-title {
                color: #fff;

                p {
                    opacity: 0.6
                }
            }

            .fc-inner {

                .fc-thumb {
                    margin-bottom: 2rem;

                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }

                h4 {
                    margin: 0 0 0.5rem;
                    font-size: 15px;
                    font-weight: 400;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: #fff;
                }

                p {
                    font-size: 13px;
                    line-height: 22px;
                    margin: 0 0 1rem;
                    color: #999;
                }
            }

        }

        @media (max-width: 991px) {
        }

        @media (max-width: 767px) {

            & {

                .section3-content {

                    .row {

                        .fc-inner {

                            .fc-thumb {
                                margin-bottom: 1.5rem;
                            }

                            p {
                                line-height: 18px;
                            }

                            &:not(:last-child) {
                                margin-bottom: 40px;
                            }
                        }
                    }
                }
            }
        }
    }

    .section4-section {
        padding: 50px 0;

        .section4-content {

            .swiper-container {

                .swiper-wrapper {

                    .swiper-slide {

                    }
                }

                .swiper-pagination {
                    position: relative;
                    bottom: unset;
                    margin-top: 15px;

                    .swiper-pagination-bullet {
                        opacity: 1;
                        background-color: #fff;
                        border: 1px solid #fff;
                        border-color: map-get($map: $colors, $key: "primary");

                        &.swiper-pagination-bullet-active {
                            background-color: map-get($map: $colors, $key: "primary");
                        }
                    }
                }
            }

            .quote-item {
                padding: 30px;
                border: 1px solid #e5e5e5;

                .quote {
                    font-size: 15px;
                    line-height: 26px;
                    color: #787878;
                    margin: 0px 0px 15px;
                    letter-spacing: 0.5px;
                }

                .author {
                    display: flex;
                    align-items: center;

                    .author-avatar {
                        width: 54px;
                        height: 54px;
                        border-radius: 50%;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .author-info {
                        margin-left: 15px;

                        .name {
                            color: #444;
                            text-transform: uppercase;
                            font-size: 13px;
                        }

                        .company {
                            font-weight: 500;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

}