.page.teams {

    section {
        padding: 40px 0;

        .texts {
            text-align: justify;

            span {
                display: block;
                font-weight: 500;
                font-size: 20px;
                margin-bottom: 20px;
                color: #333;

                small {
                    display: block;
                }
            }

            p {
                margin: 0;
                font-size: 14px;
                line-height: 24px;
                color: #888;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }

        }

        .title {
            margin-bottom: 20px;
            text-align: center;

            h1 {
                position: relative;
                font-size: 32px;
                font-weight: 600;
                text-transform: uppercase;
                margin: 0;
            }

            span {
                display: block;
                width: 100px;
                height: 4px;
                background-color: map-get($map: $colors, $key: "primary");
                content: "";
                margin: 20px auto;
            }

            p {
                margin: 0;
                font-size: 14px;
                color: #888;
            }
        }

        .team-wrapper {
            margin-top: 40px;

            .swiper-container {

                .swiper-pagination {
                    position: relative;
                    margin: 0 0 20px;
                    top: 0;

                    .swiper-pagination-bullet {

                        &:not(:last-child) {
                            margin-right: 8px;
                        }

                        &.swiper-pagination-bullet-active {
                            background: map-get($map: $colors, $key: "primary");
                        }
                    }
                }
            }

            .team-member {

                .team-image {
                    margin-bottom: 15px;

                    img {
                        width: 100%;
                        border-radius: 5px 5px 0 0;
                    }
                }

                .team-desc {
                    text-align: center;

                    h3 {
                        font-size: 16px;
                        margin-bottom: 4px;
                    }

                    span {
                        font-size: 12px;
                        color: #bbb;
                        line-height: 18px;
                        display: block;
                        margin-top: 2px;
                        text-transform: uppercase;
                        white-space: nowrap;
                    }

                    p {
                        margin: 5px 0 0;
                        font-size: 14px;
                        color: #777;
                        padding: 0 5px;
                    }

                    .social {
                        display: flex;
                        justify-content: center;
                        margin-top: 10px;

                        a {
                            color: unset;
                            text-decoration: none;
                            transition: all 0.4s ease;

                            &:hover {
                                opacity: 0.5;
                            }

                            &:not(:last-child) {
                                margin-right: 20px;
                            }

                            i {
                                font-family: 'Font Awesome 5 Brands';
                                font-weight: 400;
                                -webkit-font-smoothing: antialiased;
                                display: inline-block;
                                font-style: normal;
                                font-variant: normal;
                                text-rendering: auto;
                                line-height: 1;

                                &.facebook:before {
                                    content: "\f39e";
                                }

                                &.instagram:before {
                                    content: "\f16d";
                                }

                                &.twitter:before {
                                    content: "\f099";
                                }
                            }
                        }
                    }
                }
            }
        }

        .gallery-wrapper {
            margin-top: 40px;

            .swiper-container {

                .swiper-pagination {
                    position: relative;
                    margin: 0 0 20px;
                    top: 0;

                    .swiper-pagination-bullet {

                        &:not(:last-child) {
                            margin-right: 8px;
                        }

                        &.swiper-pagination-bullet-active {
                            background: map-get($map: $colors, $key: "primary");
                        }
                    }
                }

                .responsive-square {
                    width: 100%;
                    position: relative;
                    display:inline-block;
                    background: center;
                    background-size: cover;
                    transition: all 0.4s ease;
                    cursor: pointer;
    
                    &:hover {
                        filter: grayscale(1);
                    }
    
                    &:after {
                        content: "";
                        display: block;
                        padding-bottom: 100%;
                    }
                }
            }
    
            .masonry-grid {
                margin-top: -16px;
                column-width: 265.5px;
                column-gap: 16px;
    
                .grid-item {
                    margin-top: 16px;
                    position: relative;
                    cursor: pointer;
                    float: left;
                    overflow: hidden;
                    transition: all 0.4s ease;
    
                    img {
                        transition: all 0.8s ease;
                        width: 100%;
                    }

                    &:hover {
                        filter: grayscale(1);

                        img {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 991px) {

        .gallery-wrapper .masonry-grid {
            display: none;
        }
    }

    @media (min-width: 992px) {

        .gallery-wrapper .swiper-container {
            display: none;
        }
    }

    @media (max-width: 767px) {

        section {
            padding: 15px 0;

            .texts p {
                font-size: 12px;
                line-height: 22px;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }

            .title {
                margin-bottom: 10px;

                h1 {
                    font-size: 24px;
                }

                span {
                    margin: 15px auto;
                }

                p {
                    font-size: 12px;
                    line-height: 22px;
                }
            }

            .team-wrapper {

                .team-member {

                    .team-image {
                    }

                    .team-desc {

                        h3 {
                            font-size: 14px;
                        }

                        span {
                            font-size: 10px;
                        }
                    }

                    .social {
                        margin-top: 5px;
                    }
                }

                .swiper-container .swiper-pagination {
                    display: none;
                }
            }
        }
    }

}